.Message{
    border-radius: 15px;
    width: fit-content;
    padding: 6px 7px 8px 9px;
    margin-bottom: 2vh;
}

.Message .Titulo{
    margin-bottom: 0;
    margin-top:0;
    text-align: left;
    margin-left: 0.5vw;
    color: #ddddddd2;
    font-size: 17px;
    font-weight: 400;
}

.Message .Corpo{
    text-align: left;
    margin-left: 1vw;
    color: #FFF;
    font-size: 19px;
    font-weight: 400;
    margin-top:0.5vh;
    margin-bottom: 0.3vh;
}

.Message .Hora{
    font-size: 14px;
    text-align: right;
    color: lightgray;
    margin-right: 1vw;
    margin-left: 2vw;
}